<div class="bg-white rounded-xl w-full">
  <div class="text-cyan-800 p-3">
    <%= simple_format '今日の推し活のススメ', class: "text-xs text-pink-400"%>
    <div class="divide-y divide-gray-300 py-1">
      <div class="flex items-center my-1">
        <i class="fa-solid fa-lightbulb mx-1 md:text-base text-xs"></i>
        <%= simple_format suggest.title, class: "flex-grow md:text-xl text-base font-bold"%>
        <%= link_to new_item_path(title: suggest.item_title, oshi: suggest.oshi, start_date: suggest.start_date, end_date: suggest.end_date, locate: suggest.locate) do %>
          <%= simple_format '推し活を作成', class: "rounded-xl bg-cyan-400 text-white text-xs md:px-2 px-1 py-1 hover:bg-cyan-300 font-semibold"%>
        <% end %>
      </div>
      <div class="p-3">
        <%= simple_format  suggest.body, class: "text-sm"%>
      </div>
    </div>
  </div>
</div>