<div class="flex h-full text-black bg-pink-50 p-5">
  <!-- -->
  <div class="w-1/2">
    <% if @suggest.present? %>
      <div class="mx-1 mb-3 p-2">
        <%= render 'suggest', suggest: @suggest%>
      </div>
    <% end %>
    <div class="rounded-2xl bg-cyan-900 opacity-80 mx-3 p-2">
      <div class="flex items-center justify-between text-white mb-3">
        <%= simple_format t('.title'), class: "font-bold text-xl mx-3 py-1"%>
        <div class="flex items-center mx-3 py-1">
          <i class="fa-solid fa-user px-2"></i>
          <p class="font-semibold"><%= current_user.name %></p>
        </div>
      </div>
      <div class="flex justify-center items-top w-full">
        <div class="p-1 w-3/7">
          <%= simple_format '推し活', class: "text-sm text-center rounded-3xl bg-white text-cyan-900 font-semibold"%>
          <div class="flex items-center justify-center p-4 text-white divide-x divide-gray-400">
            <div class="px-2">
              <p class="text-xs text-center mx-1">すべて</p>
              <%= simple_format @items.count.to_s , class: "text-3xl font-bold text-center"%>
            </div>
            <div class="px-2">
              <p class="text-xs text-center mx-1">いままで</p>
              <%= simple_format @items_in_past.count.to_s , class: "text-3xl font-bold text-center"%>
            </div>
            <div class="px-2">
              <p class="text-xs text-center mx-1">これから</p>
              <%= simple_format @items_in_future.count.to_s , class: "text-3xl font-bold text-center"%>
            </div>
          </div>
        </div>
        <div class="p-1 w-2/7">
          <%= simple_format 'グッド', class: "text-sm text-center rounded-3xl bg-white text-cyan-900 font-semibold"%>
          <div class="flex items-center justify-center p-4 text-white divide-x divide-gray-400">
            <div class="px-2">
              <p class="text-xs text-center mx-1">グッドした</p>
              <%= simple_format current_user.goods.count.to_s , class: "text-3xl font-bold text-center"%>
            </div>
            <div class="px-2">
              <p class="text-xs text-center mx-1">グッドされた</p>
              <%= simple_format @liked_count.to_s , class: "text-3xl font-bold text-center"%>
            </div>
          </div>
        </div>
        <div class="p-1 flex-grow">
          <%= simple_format 'あなたの推しトップ3', class: "flex-grow text-sm text-center rounded-3xl bg-white text-cyan-900 font-semibold"%>
          <div class="py-1 flex-col text-white divide-y divide-gray-100">
            <% @cnt = 1 %>
            <% @oshi.each do |k, v| %>
              <div class="my-1 flex justify-between">
                <%= simple_format "#{@cnt}. #{k.to_s}" %>
                <%= simple_format "#{v}回" %>
                <% @cnt += 1%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- 次の推し活 -->
      <div class="pb-1 rounded-2xl bg-pink-50">
        <div class="flex items-center p-2 text-pink-600">
          <% if @next_item.present? %>
            <% if @next_item.start_date - @today <= 0 %>
              <div class="flex items-center bg-pink-500 p-3 rounded-xl w-full">
                <%= simple_format '今日は推し活当日です！今日も最高の1日にしましょう！', class: "flex-grow text-white font-semibold text-center" %>
              </div>
            <% else %>
              <i class="fa-solid fa-caret-right"></i>
              <i class="fa-solid fa-caret-right"></i>
              <i class="fa-solid fa-caret-right"></i>
              <%= simple_format "#{t('.next_act')}まで、あと#{(@next_item.start_date - @today).to_i}日", class: "text-ms font-semibold m-1"%>
            <% end %>
          <% end %>
        </div>
        <% if @today_items.present? %>
          <%= render partial: 'items/item', collection: @today_items, as: :item %>
        <% elsif @next_item.present? %>
          <%= render 'items/item', item: @next_item %>
        <% else %>
          <div class="items-center p-5 bg-gray-100 rounded-xl">
            <%= simple_format "予定がありません", class: "w-full text-center font-semibold text-gray-500" %>
            <%= link_to new_item_path, class: "w-full flex justiby-center items-center rounded-xl font-semibold text-white bg-pink-400 mt-3 p-3 hover:bg-pink-300" do %>
              <i class="fa-solid fa-plus mx-1"></i>
              <%= simple_format "新しい推し活" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mt-2 rounded-2xl bg-pink-50 divide-y divide-gray-300">
        <%= link_to items_path do %>
          <div class="rounded-2xl h-auto p-2 hover:bg-cyan-100">
            <div class="flex items-center justify-between text-cyan-900 mx-3">
              <p class="font-semibold py-1">これからの推し活</p>
              <div class="flex items-center">
                <%= simple_format "#{@items_in_future.count.to_s}件", class: "font-semibold text-base mx-3" %>
                <i class="fa-solid fa-angle-right text-right"></i>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to past_items_path do %>
          <div class="rounded-2xl h-auto p-2 hover:bg-cyan-100">
            <div class="flex items-center justify-between text-cyan-900 mx-3">
              <p class="font-semibold py-1">過去の推し活</p>
              <div class="flex items-center">
                <%= simple_format "#{@items_in_past.count.to_s}件", class: "font-semibold text-base mx-3" %>
                <i class="fa-solid fa-angle-right text-right"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- みんなの推し活 -->
  <div class="w-1/2 flex-col rounded-xl opacity-80 mx-3">
    <div class="justify-center mx-3 py-1">
      <div class="flex items-center justify-between mb-3">
        <%= simple_format t('.our_act'), class: "font-bold text-2xl text-cyan-900" %>
        <%= simple_format "#{@our_items_count.to_i}件", class: "font-bold text-2xl text-cyan-900" %>
      </div>
      <%= render 'layouts/search', q: @q, url: dashboard_path %>
    </div>
    <div class="py-2 overflow-y-scroll">
      <% if @our_items.present? %>
        <%= render partial: 'items/item', collection: @our_items, as: :item %>
      <% else %>
        <div class="flex-col items-center p-10 bg-white bg-opacity-90 rounded-3xl m-5">
          <%= simple_format '推し活が見つかりませんでした...', class: "h-full w-full text-center text-xl text-gray-400 font-semibold"%>
        </div>
      <% end %>
    </div>
    <div class="flex items-center justify-center">
      <%= paginate @our_items %>
    </div>
  </div>
</div>
