<div class="flex text-black bg-pink-50 p-5">
  <!-- -->
  <div class="w-1/2">
    <div class="rounded-2xl bg-cyan-900 opacity-80 mx-3 p-2">
      <div class="flex items-center text-white">
        <%= simple_format t('.title'), class: "font-bold text-xl mx-3 py-1"%>
      </div>
      <div class="flex p-3 text-white">
        <!-- ダッシュボード左の要素 -->
        <div class="w-1/2 divide-y divide-gray-100">
          <div class="flex items-center py-1">
            <i class="fa-solid fa-user px-2 text-gray-500"></i>
            <p class="font-semibold"><%= current_user.name %></p>
          </div>
          <div class="flex items-center py-1">
            <p>総推し活数:</p>
          </div>
          <div class="flex items-center py-1">
            <p>アイテム②: </p>
          </div>
          <div class="flex items-center py-1">
            <p>アイテム③: </p>
          </div>
        </div>
        <!-- ダッシュボード右の要素 -->
        <div class="w-1/2">
          <div class="flex items-center">
            <p>アイテム</p>
          </div>
        </div>
      </div>
      <!-- 次の推し活 -->
      <div class="pb-1 rounded-2xl bg-pink-50">
        <div class="flex items-center p-2 text-pink-600">
          <i class="fa-solid fa-caret-right"></i>
          <i class="fa-solid fa-caret-right"></i>
          <i class="fa-solid fa-caret-right"></i>
          <%= simple_format "#{t('.next_act')}まで、あと#{(@next_item.start_date - @today).to_i}日", class: "text-ms font-semibold m-1"%>
        </div>
        <% if @next_item.present? %>
          <%= render 'items/item', item: @next_item %>
        <% else %>
          <div class="items-center p-5 bg-gray-100 rounded-xl">
            <%= simple_format "予定がありません", class: "w-full text-center font-semibold text-gray-500" %>
            <%= link_to new_item_path, class: "w-full flex justiby-center items-center rounded-xl font-semibold text-white bg-pink-400 mt-3 p-3 hover:bg-pink-300" do %>
              <i class="fa-solid fa-plus mx-1"></i>
              <%= simple_format "新しい推し活" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mt-2 rounded-2xl bg-pink-50 divide-y divide-gray-300">
        <%= link_to items_path do %>
          <div class="rounded-2xl h-auto p-2 hover:bg-cyan-100">
            <div class="flex items-center justify-between text-cyan-900 mx-3">
              <p class="font-semibold py-1">これからの推し活</p>
              <div class="flex items-center">
                <%= simple_format "#{@items.count.to_s}件", class: "font-semibold text-base mx-3" %>
                <i class="fa-solid fa-angle-right text-right"></i>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to past_items_path do %>
          <div class="rounded-2xl h-auto p-2 hover:bg-cyan-100">
            <div class="flex items-center justify-between text-cyan-900 mx-3">
              <p class="font-semibold py-1">過去の推し活</p>
              <div class="flex items-center">
                <%= simple_format "#{@items_in_past.count.to_s}件", class: "font-semibold text-base mx-3" %>
                <i class="fa-solid fa-angle-right text-right"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- みんなの推し活 -->
  <div class="w-1/2 rounded-xl opacity-80 mx-3">
    <div class="justify-center mx-3 py-1">
      <%= simple_format t('.our_act'), class: "font-bold text-2xl text-cyan-900" %>
      <div class="flex items-center bg-white rounded-3xl border mt-3 w-full">
        <i class="fa-solid fa-magnifying-glass text-cyan-600 pl-3"></i>
        <input type="text", class="border-none bg-opacity-0 rounded-3xl w-full focus:outline-none focus:ring-0", value: "キーワードで検索">
        <%= simple_format '検索', class: "flex-glow rounded-3xl bg-blue-800 text-white font-semibold x-3"%>
      </div>
    </div>
    <div class="py-2 overflow-y-scroll">
      <% if @our_items.present? %>
        <%= render partial: 'items/item', collection: @our_items, as: :item %>
      <% else %>
        <div class="flex items-center p-10">
          <%= simple_format '推し活が見つかりませんでした。', class: "w-full text-center text-gray-100 font-semibold"%>
        </div>
      <% end %>
    </div>
    <div class="flex items-center justify-center">
      <%= paginate @our_items %>
    </div>
  </div>
</div>
