<div id="task-list-<%= item.id %>", class="flex py-2 justify-center text-xs items-center text-gray-600">
  <!-- チケット -->
  <% if item.ticket %>
    <%= link_to items_path(ticket: false), data: { turbo_method: :post } do%>
      <div class="flex items-center w-1/4 rounded-lg bg-cyan-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
        <i class="fa-solid fa-check text-center px-1"></i>
        <%= simple_format 'チケット'%>
      </div>
    <% end %>
  <% else %>
    <%= link_to item_path(item, ticket: true), data: { turbo_method: :patch } do%>
      <div class="flex items-center w-1/4 rounded-lg bg-gray-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
        <i class="fa-regular fa-square text-center px-1"></i>
        <%= simple_format 'チケット'%>
      </div>
    <% end %>
  <% end %>
  <!-- 移動手段 -->
  <% if item.transportation %>
    <div class="flex items-center w-1/4 rounded-lg bg-cyan-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
      <i class="fa-solid fa-check text-center px-1"></i>
      <%= simple_format '移動手段'%>
    </div>
  <% else %>
    <div class="flex items-center w-1/4 rounded-lg bg-gray-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
      <i class="fa-regular fa-square text-center px-1"></i>
      <%= simple_format '移動手段'%>
    </div>
  <% end %>
  <!-- ホテル・宿 -->
  <% if item.lodging %>
    <div class="flex items-center w-1/4 rounded-lg bg-cyan-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
      <i class="fa-solid fa-check text-center px-1"></i>
      <%= simple_format 'ホテル・宿' %>
    </div>
  <% else %>
    <div class="flex items-center w-1/4 rounded-lg bg-gray-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
      <i class="fa-regular fa-square text-center px-1"></i>
      <%= simple_format 'ホテル・宿' %>
    </div>
  <% end %>
 <!-- ホテル・宿 -->
  <% if item.preparation %>
    <div class="flex items-center w-1/4 rounded-lg bg-cyan-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
      <i class="fa-solid fa-check text-center px-1"></i>
      <%= simple_format '持ち物' %>
    </div>
  <% else %>
    <div class="flex items-center w-1/4 rounded-lg bg-gray-100 mx-1 p-2 hover:bg-cyan-200 hover:shadow">
      <i class="fa-regular fa-square text-center px-1"></i>
      <%= simple_format '持ち物' %>
    </div>
  <% end %>
</div>
